/* *
* For radios and checkboxes - the pseudo-checkbox hack
* 1. Align left edge of wrapped text with right edge of control
* 
*/
// TODO: account for inline and long, wrapping labels
@mixin binary-control($checkbox: false, $size: 1rem, $color: currentColor,$focusColor: blue) {
    // margin-left: calc(#{$size}); /* 1 */
    // text-indent: calc(-#{$size}); /* 1 */

    /* hide the real input */
    input {
        position: absolute;
        left: -999em;
        cursor: pointer;
    }
    label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    /* the fake input control */
    label:before {
        content: '\a0'; // simulates a non-breaking space: http://stackoverflow.com/questions/190396/adding-html-entities-using-css-content
        display: block; // keep structure but stay inline with label
        flex-shrink: 0;
        height: $size;
        width: $size;
        margin-right: $space/4;
        border: 2px solid $color;

        @if $checkbox {
            border-radius: 3px;
        } @else {
            border-radius: $size/2;
        }
    }
    /* the actual label text */
    [class*="__label-text"] {
        display: block;
    }
    input:checked ~ label:before {
        background-color: $color;
        box-shadow: inset 0 0 0 3px white; 
    }
    input:focus ~ label:before {
        box-shadow: inset 0 0 0 3px white, 0 0 0 2px $focusColor;
    }
}
