$type-scale: (
    xs: .75rem,
    sm: .8rem, //16px
    0: 1rem, //20px
    1: 1.25rem, //25px
    2: 1.5rem, //30px
    3: 2.25rem, //36px
    4: 3.375rem, //54px
    5: 5rem, //120px
    6: 7.6rem, //152px
);

@function type-scale($level) {
    @return map-get($type-scale, $level);
}

/**
* Vertical rhythm
*/
$line-heights: (
    xs: 1.2,
    sm: $space * 0.7,
    0: $space,
    1: $space,
    2: $space,
    3: $space * 1.75,
    4: $space * 2.25,
    5: 1,
    6: $space * 3,
);
$compact-line-heights: (
    xs: 1.2,
    sm: $space * 0.5,
    0: 1.2,
    1: 1,
    2: 1,
    3: $space * 1.5,
    4: 1,
    5: 1,
    6: $space * 3,   
);

@function line-height($level) {
    @return map-get($line-heights, $level);
}
@function compact-line-height($level) {
    @return map-get($compact-line-heights, $level);
}

@mixin type-setting($level: 0) {
    font-size: type-scale($level);
    line-height: line-height($level);
}
@mixin compact-type-setting($level) {
    font-size: type-scale($level);
    line-height: compact-line-height($level);
}