.reset-bg {
    background: none;
}

.reset-list {
    list-style: none;
    text-indent: 0;
    margin: 0;
}

.reset-button {
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    text-align: inherit;
}

.reset-border {
    border: unset;
}