$button__bg-color: var(--bg--dark, #333);
$button__color: var(--button__color, #efefef);

[class*="canon-button"] {
    color: $button__color;
    background: $button__bg-color;
    border-radius: 4px;
    appearance: none;
    border: none;
    &:hover {
        background-color: #efefef;
        color: #333;
        @include box-shadow(1);
    }
}
.canon-button--size-md {
    padding: $space/4 $space/2;
}