.canon-field {

}
.canon-field__input-wrapper {
    @include border-radius(1);
    @include neu-shadow();
    border:  1px solid var(--border__control);
    &:focus-within,
    .--hasFocusWithin {
        outline: 3px double var(--outline__focus);
        outline-offset: 2px;
    }
}

.canon-field__input { 
    width: 100%;
    padding: 4px 8px;
    border: none;
    background: transparent;
    appearance: none;
    outline: none;
    &:-moz-ui-invalid {
        box-shadow: none;
    }
    &:focus {

    }
}
.canon-field__prefix {
    padding-left: 8px;
}