.canon-layout {
    &.--tube {
        padding-left: $space/4;
        padding-right: $space/4;

        @include min-screen-width(sm) {
            padding-left: $space/2;
            padding-right: $space/2;
        }
        @include min-screen-width(md) {
            padding-left: $space;
            padding-right: $space;
        }
    }
    &.--readable {
        max-width: $reading-line-width;
    }
    &.--centered {
        margin-left: auto;
        margin-right: auto;
    }
    &.--auto-flow {
        > * + * {
            margin-top: $space;
        }
    }
    &.--auto-flow-compact {
        line-height: 1.25;
        > * + * {
            margin-top: $space/2;
        }
    }
}