.canon-field {
    position: relative;
}
.canon-field__input-wrapper {
    margin-top: 4px;
    border:  1px solid var(--border__control--light);
    @include border-radius(1);
    @include neu-shadow();
    &:focus-within {
        background-color: var(--bg__input--focused, beige);
        box-shadow: inset 0 0 3px yellow;
    }
}

.canon-field__label-slot {
    font-size: type-scale(2);
}
.canon-field__hint-slot {
    display: block;
    @include type-setting(0);
}

.canon-field__input { 
    width: 100%;
    padding: 4px 8px;
    background: transparent;
    appearance: none;
    outline: none;
    border: none;
    &:-moz-ui-invalid {
        box-shadow: none; //hide default invalid red border
    }
    &:focus {
        outline: none;
    }
}
.canon-field__prefix {
    padding-left: 8px;
}
.canon-field__after {
    margin-top: 5px;
}