.canon-field {
    position: relative;
}
.canon-field__input-wrapper {
    margin-top: 8px;
}
.canon-field__input-skin {
    width: 100%;
    border:  1px solid var(--border__control--light);
    background-color: var(--bg__input, #f2f2f2);
    @include box-shadow(-1);
    @include border-radius(1);
    &:focus-within {
        background: white;
    }
}

.canon-field__label-slot {
    font-size: type-scale(2);
}
.canon-field__hint-slot {
    display: block;
    @include type-setting(0);
}

.canon-field__input { 
    width: 100%;
    padding: 4px 8px;
    background: transparent;
    appearance: none;
    border: none;
    &:-moz-ui-invalid {
        box-shadow: none; //hide default invalid red border
    }
    &:focus {
        // outline: none;
    }
}
.canon-field__prefix {
    padding-left: 8px;
}
.canon-field__after {
    margin-top: 5px;
}