.canon-field {
    position: relative;
    overflow: hidden;
}
.canon-field__input-wrapper {
    @include border-radius(1);
    @include neu-shadow();
    border:  1px solid var(--border__control--light);
    margin-top: 5px;//room for focus ring

    &:focus-within,
    .--hasFocusWithin {
        outline: 3px double var(--outline__focus);
        outline-offset: 2px;
        outline-radius: 6px; //TODO: does autoprefixer handle this?
        -moz-outline-radius: 6px;
    }
}

.canon-field__label-slot {
    font-size: type-scale(2);
}
.canon-field__hint-slot {
    display: block;
    @include type-setting(0);
}

.canon-field__input { 
    width: 100%;
    padding: 4px 8px;
    border: none;
    background: transparent;
    appearance: none;
    outline: none;
    &:-moz-ui-invalid {
        box-shadow: none; //hide default invalid red border
    }
    &:focus {

    }
}
.canon-field__prefix {
    padding-left: 8px;
}
.canon-field__after {
    margin-top: 5px;
}