@use '../00_settings/defaults.scss';
// TODO: normalize and centralize type settings
// TODO: font-weight utilities should inherit values from default or theme config
/**
* Generate consistent font sizes and line heights
* @require $space
*/
$font-weight-normal: normal;
$font-weight-bold: 800;
$font-weight-light: 200;


html {
    font-size: $base-font-size * .75;
    @include min-screen-width(sm) {
        font-size: $base-font-size;
    }
}
body {
    @include type-setting(0);
    line-height: 1.333; // override: narrow text needs less whitespace
    @include min-screen-width(sm) {
        @include type-setting(0);
    }
    font-family: $base-font-family;
    
    // Create css vars
    @each $level, $size in $type-scale {
        --text--#{$level}: #{$size};
    }
}

/* 1. Align left edge of list item text */
ul {
    list-style-position: inside; /* 1 */
    margin-left: 1.1em; /* 1 */
    text-indent: -1.1em; /* 1 */
}


h6,
.h6 {
    @include type-setting(0)
}
h5,
.h5 {
    @include type-setting(1);
    @include min-screen-width(md) {
        @include type-setting(2);
    }
    font-weight: $font-weight-light;
}
h4,
.h4 {
    @include type-setting(1);
    @include min-screen-width(sm) {
        @include type-setting(2);
    }
    @include min-screen-width(md) {
        @include type-setting(3)
    }
}
h3,
.h3 {
    @include type-setting(2);
    @include min-screen-width(sm) {
        @include type-setting(3);
    }
    @include min-screen-width(md) {
        @include type-setting(4)
    }

}
h2,
.h2 {
    @include type-setting(3);
    @include min-screen-width(sm) {
        @include type-setting(4)
    }
    @include min-screen-width(md) {
        @include type-setting(5)
    }

    font-weight: $font-weight-light;
}
h1,
.h1 {
    @include type-setting(3);
    @include min-screen-width(sm) {
        @include type-setting(4);
    }
    @include min-screen-width(md) {
        @include type-setting(5);
    }
}