@import "./functions.scss";

/* =======================================================================
     Typography & Spacing
========================================================================== */
$base-font-family: -apple-system, BlinkMacSystemFont, 'helvetica neue',
    helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$base-line-height: 1.2;
$base-font-size: 1.2rem;

$space: $base-font-size * $base-line-height;
$reading-line-width: 65rem;

$font-sizes: (
    xxs: 12px,
    xs: 16px,
    sm: 20px,
    md: 24px,
    lg: 30px,
    xl: 36px,
);

/* =======================================================================
     Colors
========================================================================== */

/* Provide a subtle tone to dark and light grays - defaults to blue and pink */
$darkHue: 225; //hsl(225,50%, 50%)
$lightHue: 320;//hsl(320,50%, 50%)

$colorOptions: (
    "gray--6": hsl($darkHue, 100%, 1%),
    "gray--5": hsl($darkHue, 21%, 20%),
    "gray--4": hsl($darkHue, 10%, 30%),
    "gray--3": hsl($darkHue, 10%, 45%),
    "gray--2": hsl($lightHue, 5%, 65%),
    "gray--1": hsl($lightHue, 10%, 85%),
    "gray--0": hsl($lightHue, 10%, 95%),
    "white": hsl($lightHue, 40%, 99%), // the export doesn't work as well
    "blue": hsl(212, 70%, 40%),
    "orange": hsl(46, 100%, 50%),
);

$defaultThemeColors: (
    // "dark--base": map-get($colorOptions, "gray--5"),
    // "light--base": map-get($colorOptions, "white"),
    "dark--base": "#123",
    "light--base": white,
);
$colors: (
    "options": $colorOptions,
    "defaults": $defaultThemeColors
);

@function color($color) {
    @return deep-map-get($colors, $color);
};
$test: color("gray--2");

:export{
    @each $color, $value in map-get($colors, options) {
        #{$color}: $value;
    }
}

html {
    background: $test;
    @each $name, $color in map-get($colors, options)  {
        --#{$name}: #{$color};
    }
    @each $name, $size in $font-sizes {
        --text--#{$name}: #{$size};
    }
    --baseFontSize: 1rem;
    /* Focus Styles */
    --focusRingColor: var(--orange);

    --focusRing--internal: inset 0 0 0 1px var(--white),
        inset 0 0 0 3px var(--black);
    --focusRing--inverseInternal: inset 0 0 0 1px var(--black),
        inset 0 0 0 3px var(--white);
    --focusRing: 0 0 0 3px var(--focusRingColor);
    font-size: var(--baseFontSize);
}
