.canon-o-artful {
    font-family: Aleo, serif;
}
html {
    // Base Theme
    --textColor: var(--black);
    --bgColor: var(--white);
    --textColor--inverse: var(--white);
    --bgColor--inverse: var(--black);
    --linkColor: var(--blue);
}
